a {
    transition: color .24s cubic-bezier(.215,.61,.355,1);
    text-decoration: none;
    
    &:hover {
        text-decoration: none;
        transition: color .24s cubic-bezier(.215,.61,.355,1);
        color: $color-primary;
    }

}

.-linkHeader {
    @extend .-flexCenterCenter;
    color: $color-primary;
    padding: 0 $spaceRg;
    // font-size: $font-16;
    &.-onTop {
        color: $color-black;
        padding-top: $space0;
        padding-bottom: 1.8px;
    }
}

.-menuOut {
    &:hover, &:focus {
        color: $color-primary;
    }
}

.-monlogo {
    @include weight(6);
    color: $color-primary;
}