/* ------------------------------------
 # Archive para post de cualquier Taxonomy
 -------------------------------------- */

.m-archive__header {
    margin-top: $spaceMega;
    margin-bottom: $spaceBg;
    
    h1 {
        @include weight(6);
        font-size: $fontRg;
    }
    
    @include mediaQueriesMinMd {
        margin: $spaceMd 0px $spaceMd 0px;

        h1 {
            font-size: $fontXl;
        }
    }
}

.m-archive__articleBlock {
    margin-bottom: $spaceSuperXl;
}

.m-biggerArticle {
    position: relative;
    width: 100%;
    height: 100vw;
    border-radius: $spaceXxs !important;
    margin-bottom: $spaceMd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    &.-viewLastest {
        max-height: 325px;
        margin-bottom: $spaceSuperXl;

        h3 {
            @include lineClamp(2);
            max-height: 100px;
            padding: $spaceRg;
        }
    }

    h3 {
        @include weight(5);
        color: $color-lightin;

        font-size: $fontSm;
        max-width: 492px;
        padding: $spaceSm;
        
        position: relative;
        z-index: 2;

        @include lineClamp(3);
        max-height: 135px;
    }

    @include mediaQueriesMinMd {
        height: 500px;

        &.-viewLastest {
            height: 325px;

            h3 {
                max-width: 600px;
                padding: 0;
                padding-left: $spaceSuperXl;
            }
        }

        h3 {
            padding: 0;
            padding-left: $spaceSuperXl;
            margin-bottom: $spaceRg;
        }
    }

    @include mediaQueriesMinLg {
        &.-viewLastest {
            h3 {
                max-width: 750px;
            }
        }
    }
}

.m-biggerArticle__img {
    border-radius: $spaceXxs;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0px;
    left: 0px;
    transition: 0.3s;
}

.m-biggerArticle__cat {
    @extend .m-single__cat;
    color: $color-lightin;
    position: relative;
    z-index: 2;
    padding-left: $spaceSm;
    margin-bottom: $space0;
    margin-top: $spaceSuperXl;

    .-viewLastest & {
        padding-left: $spaceRg;
    }


    @include mediaQueriesMinMd {
        margin-bottom: $spaceSm;
        padding-left: $spaceSuperXl;

        .-viewLastest & {
            margin-top: $spaceXl;
            padding: 0;
            padding-left: $spaceSuperXl;
        }
    }
}

.m-biggerArticle__excerpt {
    font-family: $font2;
    color: $color-lightin;
    font-size: $fontP;
    position: relative;
    z-index: 2;
    max-height: 122px;
    padding: $spaceSm;
    padding-bottom: 0;
    @include lineClamp(3);

    .-viewLastest & {
        padding: $spaceRg;
    }

    @include mediaQueriesMinMd {
        @include lineClamp(5);
        padding: 0;
        padding-left: $spaceSuperXl;
        max-width: 492px;

        .-viewLastest & {
            @include lineClamp(3);
            max-width: 600px;
            padding: 0;
            padding-left: $spaceSuperXl;
        }
    }

    @include mediaQueriesMinLg {
        .-viewLastest & {
            max-width: 730px;
            padding-right: $spaceSm;
        }
    }
}