/* ------------------------------------
 # Category Item for a post blog
 -------------------------------------- */

.m-category {
    margin-bottom: $spaceMd;
    
    @include mediaQueriesMinMd {
        margin-bottom: $spaceBg;
    }
}

.m-category__title {
    margin-bottom: $spaceXs;
}

.m-categoryItem {
    @extend .m-popularItem;
    min-height: 500px;
    transition: box-shadow 0.4s;
    
    p {
        @include lineClamp(3);
    }

    a:hover & {
        box-shadow: 0 12px 14px rgba($color-black, .1);
    }
    
    @include mediaQueriesMinMd {
        display: flex;
        flex-direction: row;
        min-height: 100px;
        margin-bottom: $spaceBg;
        padding: 0;
        
        header {
            padding: $spaceXl $space25;
            padding-left: 420px;
        }

        h3 {
            margin-bottom: $spaceSm;
        }


        img {
            // position: static;
            max-width: 390px;
            height: auto;
        }
    }
}