/* ------------------------------------
 # Category Item for a post blog
 -------------------------------------- */

.m-category {
    margin-bottom: $spaceSuperXl;
}

.m-category__title {
    margin-bottom: $spaceXs;
}

.m-category .-col-12,
.m-archive__articleBlock .-col-12 {
    margin-bottom: $spaceBg;

    &:last-child {
        margin-bottom: 0
    }
}

.m-archive__articleBlock .-col-12 {
    margin-bottom: $spaceMd;

    &.-alwaysFirst {
        margin-bottom: 0;
    }
}

.m-categoryItem {
    @include Overflow();
    flex-flow: row nowrap;
    background: $color-lightin;
    margin-bottom: 0;
    transition: box-shadow 0.4s;
    border-radius: $spaceXxs;

    .m-categoryItem__img {
        flex: 0 0 auto;
        width: 100%;
    }

    .m-categoryItem__header {
        flex: 1 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: $spaceRg;
    }

    .m-categoryItem__cat {
        @extend .-cat;
        color: $color-black;
    }
    
    .m-categoryItem__excerpt {
        @include lineClamp(3);
    }

    h3 {
        @include lineClamp(4);
        font-size: $fontXs;
        margin-bottom: $spaceSm;
    }

    a:hover & {
        box-shadow: 0 12px 14px rgba($color-black, .1);
    }

    @include mediaQueriesMinMd {
        display: flex;
        flex-direction: row;
        max-height: 220px;
        padding: 0;

        .m-categoryItem__img {
            width: 34%;
        }
        
        .m-categoryItem__header  {
            padding: $spaceMd;
        }

        h3 {
            @include lineClamp(2);
        }
    }

    @include mediaQueriesMd {
        .m-crop__sizeDomino::after {
            padding-bottom: 54%;
        }
    }
}