/* ------------------------------------
 # Wordpress content Glosario page
 -------------------------------------- */

.m-glosario {
    @include mediaQueriesMinMd {
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: minmax(200px, auto);
        grid-column-gap: 50px;
        grid-template-columns: minmax(200px, auto) repeat(auto-fit, minmax(600px, auto));
        grid-template-rows: auto auto;
    }
}

.-glosario {
    position: relative;
    width: 100%;
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 $spaceRg;

    &.m-page {
        margin-top: 0;
    }

    &.m-page .m-single__content p, &.m-page .m-single__content figcaption,
    &.m-page .m-single__content ul, &.m-page .m-single__content ol,
    &.m-page .m-single__content table, &.m-page .m-single__content h1,
    &.m-page .m-single__content h2, &.m-page .m-single__content h3,
    &.m-page .m-single__content h4, &.m-page .m-single__content h5,
    &.m-page .m-single__content h6 {
        max-width: 100%;
        scroll-margin-top: 90px;
    }

    @include mediaQueriesMinMd {
        padding: 0 100px;
    }
}

.m-glosario__nav {
    @include mediaQueriesMinMd {
        align-self: start;
        position: sticky;
        top: 100px;
    }
}

.m-glosario__container {
    position: fixed;
    bottom: 20px;
    z-index: $friend;

    @include mediaQueriesMd {
        padding: $space0 0;
        background-color: $color-secondary;
        border-radius: 100px;
        display: block;
        width: calc(100% - 40px);
    }

    @include mediaQueriesMinMd {
        position: static;
    }
}

.m-glosario__sub {
    margin: $spaceXs 0;
    text-transform: uppercase;
    letter-spacing: .9px;

    @include mediaQueriesMd {
        text-align: center;
        color: $color-lightin;
        font-size: $fontSuperXs;
        @include weight(6);
    }
}

.m-glosario__anchors {
    display: none;

    @include mediaQueriesMinMd {
        display: block;
        margin-top: $spaceRg;
    }
}

.m-glosario__link {
    @extend .-toggleItem;
    line-height: 1;
    padding: $space0 $spaceSm;
    margin-right: 12px;
}

/* ------------ Bloque de glosario ------------ */
.wp-block-gutenberg-glosasrio-block {
    @include mediaQueriesSm {
        .theBody & {
            padding: $spaceRg $spaceSm;
        }
    }
}

// 172.22.88.215