/* ------------------------------------
 # Header, menú principal del landing page
 -------------------------------------- */

.o-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: $spaceRg $spaceSm;
    background: $color-lightgrey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $friend;
    transition: 0.3s;
    
    &.-headerFixed {
        padding-top: $spaceXs;
        padding-bottom: $spaceXs;
        border-bottom: 1px solid $color-grey;
    }

    @include mediaQueriesMinSm {
        padding: $spaceRg $spaceMd;

        &.-headerFixed {
            padding-top: $space0;
            padding-bottom: $space0;
        }
    }
}

.m-header__brand {
    display: flex;
    align-items: center;
    height: 30px;
    
    img {
        width: 100%;
        max-width: 150px;
    }

    @include mediaQueriesMinSm {
        height: 44px;

        img {
            width: 100%;
            max-width: 190px;
        }
    }
}

.m-header__nav {
    display: flex;
    align-items: center;

    .m-header__link {
        display: none;
    }

    .m-header__menu {
        display: none;
    }

    span, a, button {
        
        @include weight(5);
        color: $color-black;
        font-size: $fontP;
        display: flex;
        cursor: pointer;
    }

    li {
        margin-right: $spaceBg;
        &:last-child {
            margin-right: 0;
        }
    }

    @include mediaQueriesMinMd {
        padding-top: $space0;

        .m-header__link {
            display: inline-block;
        }

        .m-header__menu {
            display: flex;
        }

        span, a {
            display: inline-block;
        }
    }
}

.m-header__important, .wp-block-button a.wp-block-button__link {
    padding: $space0 $spaceSm;
    border: 1px solid $color-black;
    border-radius: $spaceRg;
    transition: all .15s ease-in;

    .m-header__nav & {
        padding: 3px 12px;
        font-size: $fontXxs;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-lightin;
        border-color: $color-primary;
        box-shadow: 0 1px 8px rgba($color-primary, .5);
    }

    @include mediaQueriesMinMd {
        margin-right: 0 !important;

        .m-header__nav & {
            padding: $space0 $spaceSm;
            font-size: $fontP;
        }
    }
}

.m-header__link {
    cursor: pointer;
}

.m-header__burger {
    margin-left: $spaceXs;
    margin-right: 0 !important;

    @include mediaQueriesMinMd {
        display: none !important;
    }
}