/* ------------------------------------
 # Tercer bloque, Noticias Populares
 -------------------------------------- */

.m-popularItem {
    @include Overflow();
    flex-flow: column nowrap;
    background: $color-lightin;
    transition: box-shadow 0.4s;
    border-radius: $spaceXxs;

    margin-bottom: $spaceMd;
    // min-height: 400px;
    
    h3 {
        @include weight(5);
        
        font-size: $fontXs;
        line-height: 1.21;
        position: relative;
        z-index: 2;
        
        @include lineClamp(4);
    }
    
    .m-crop__sizeDomino::after {
        padding-bottom: 54%;
    }

    .m-popularItem__header {
        padding: $space25;
    }

    @include mediaQueriesMinLg {
        min-height: 380px;
        margin-bottom: 0;
    }
}

.m-popularItem__cat {
    @extend .-cat;
    margin-bottom: $spaceSm;
    color: $color-black;
}