/* ------------------------------------
 # Single bloque
 -------------------------------------- */

.m-single {
    margin-bottom: $spaceRg;

    p {
        margin-bottom: $spaceSm;
    }

    .-col-12 {
        padding: 0 $spaceRg;
    }

    @include mediaQueriesMinSm {
        margin-bottom: $spaceBg;
    }
}

.m-single__cat {
    @extend .-cat;
    color: $color-primary;
    line-height: 1.38;
}

.m-single__title {
    @include weight(5);
    font-size: $fontRg;
    letter-spacing: 0px;
    max-width: 890px;
    line-height: 1.14;
    margin-bottom: $spaceRg;

    @include mediaQueriesMinMd {
        margin-bottom: $spaceMd;
        font-size: $fontBigger;
    }
}

.m-single__excerpt {
    @include weight(4);
    font-size: $fontSuperXs;
    line-height: 1.46;
    max-width: 684px;
    margin-bottom: $spaceBg;

    @include mediaQueriesMinMd {
        font-size: $fontXs;
        margin-bottom: $spaceXl;
    }
}

.m-single__details {
    display: flex;
    justify-content: space-between;
}

.m-single__author, .m-single__date {
    @include weight(4);
    font-size: $fontXxs;
    line-height: 1.46;
    margin-bottom: 0;
}

.m-single__img {
    margin: $spaceRg 0px;
    width: 100%;
    height: 280px;
    object-fit: contain;
    background-position: center;
    background-attachment: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: $spaceBg;

    @include mediaQueriesMinMd {
        margin-bottom: $spaceSuperXl;
        height: 400px;
    }

    @include mediaQueriesMinLg {
        object-fit: initial;
        background-position: 50% 50%;
        background-attachment: fixed;
        height: 577px;
    }
}


.m-single__content {
    margin-bottom: $spaceBg;
}

/* ------------------------------------
 # Wordpress content costum style
 -------------------------------------- */

.m-single__content {
    tr {
        td {
            padding-left: $spaceXs;
            border-right: 1px solid $color-grey;
            border-left: 1px solid $color-grey;
            border-bottom: 1px solid $color-grey;
        }
    }

    tr:first-child {
        td {
            background-color: $color-secondary;
            border-right: 1px solid $color-lightgrey;
            color: $color-lightin;
        }
    }

    p, figcaption, table, & h1, & h2,
    & h3, & h4, & h5, & h6, pre, & ul, & ol,
    .wp-block-embed {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        margin-top: $spaceBg;
    }

    p, figcaption, table {
        font-family: $font2;
        color: $color-black;
        font-size: $fontP;
        line-height: 1.55;
        letter-spacing: normal;
        text-align: left;
        margin-bottom: $space25;
    }

    figcaption {
        margin-top: -$spaceRg;
        font-style: italic;
        font-size: $fontXxs;
        text-align: left;
        margin-bottom: $space25;
        color: $color-darkgrey;

        & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
            margin-top: $spaceBg !important;
        }
    }

    blockquote p {
        padding-left: $space25;
        border-left: 2px solid $color-dark;
    }

    & h1, & h2, & h3, & h4, & h5, & h6 {
        @include weight(4);
        font-size: $fontSm;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: $spaceBg;
        margin-bottom: $spaceXs;
        line-height: 1.3;
    }

    & h3 {
        font-size: $fontH3;
    }

    & h4 {
        font-size: $fontXs;
    }

    & h5 {
        font-size: $fontSuperXs;
    }

    & h6 {
        font-size: $fontP;
    }

    & ul, & ol {
        font-family: $font2;
        color: $color-black;
        font-size: $fontP;
        padding-left: $spaceRg;
        list-style: inherit;
        margin-top: $space25;  
        margin-bottom: $space25;

        li {
            line-height: 1.55;
            margin-bottom: $spaceXs;
        }
    }

    & ul li {
        list-style-type: disc;
    }

    & ol li {
        list-style-type: decimal;
    }

    h1, h2, h3, h4, h5, h6 {
        & + ul, & + ol {
            margin-top: -#{$space0};
        }
    }

    a {
        display: inline-flex;
        overflow: hidden;
        position: relative;
        font-weight: bold;
        text-decoration: underline;
        color: $color-secondary;
    }

    .wp-block-image {
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
            margin: $spaceMd auto $spaceMd auto;
        }
    }

    iframe {
        width: 100%;
        margin: $space25 0 $space25 0;
        height: 300px;
    }

    @include mediaQueriesMinMd {
        p, figcaption, ul, ol, table {
            font-size: $fontSuperXs;
        }

        p, figcaption, table {
            line-height: 1.70;
        }
        
        figcaption {
            text-align: center;
            margin-bottom: $spaceRg;
        }

        & ul, & ol {
            li {
                line-height: 1.5;
            }
        }

        iframe {
            height: 500px;
        }

        img {
            margin: $spaceXl auto $spaceXs auto;
        }
    }
}

.m-bottomArticle {
    margin-bottom: $spaceSuperXl;

    @include mediaQueriesMinMd  {
        margin-bottom: $spaceMega;
    }
}

.m-page {
    margin-top: $spaceSuperXl;

    .m-single__img {
        margin-bottom: 0;
    }

    .m-single__content {
        p, figcaption, ul, ol, table, & h1, & h2, & h3, & h4, & h5, & h6  {
            max-width: 970px;
        }
    }

    @include mediaQueriesMinMd {
        .m-single__img {
            height: 425px;
            margin-top: 0;
        }
    }
}

.m-page__card {
    background: $color-lightgrey;
    border-radius: $spaceSm;


    @include mediaQueriesMinMd {
        padding: 32px;
        margin-left: -30px;
        margin-top: -64px;
        width: 73%;
    }

    @include mediaQueriesMinLg {
        width: 65%;
    }

    @include mediaQueriesMinXl {
        margin: -64px auto 0 0;
        margin-left: 53px;
    }
}

.m-page__title {
    @extend .m-single__title;
    @include weight(6);
    max-width: 480px;
    margin-top: $spaceMd;

    @include mediaQueriesMinMd {
        margin-top: 0;
        margin-bottom: 0;
        font-size: $fontBg;
    }
}